[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:marcostmunhoz/nestjs-microservices-api-gateway.git
	branch = main
[submodule "auth"]
	path = auth
	url = git@github.com:marcostmunhoz/nestjs-microservices-auth.git
	branch = main
[submodule "account"]
	path = account
	url = git@github.com:marcostmunhoz/nestjs-microservices-account.git
	branch = main
[submodule "php-app"]
	path = php-app
	url = git@github.com:marcostmunhoz/nestjs-microservices-php-app.git
	branch = main
